
#skyline{
    position:absolute;
    background-image: url("../pictures/background/skylinechicago4_notrump.png");
    background-position-x: -30px;
    opacity:1;
}

#fons_de_pant{
    position:absolute;
}

#trumpenvelope{
    position:absolute;
    /*animation-timing-function:linear;*/
}

#trumpbody{
    position:absolute;
    top:0px;
    left:0px;
    animation-name: trumpruns;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /*animation-timing-function:linear;*/
}
#trump{
    position:absolute;
    top:0px;
    left:0px;
    width:36px;
    height:37px;
    background-image: url("../pictures/trump2.png");
    animation-name: trumpjumps;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    /*animation-timing-function:linear;*/
}

@keyframes trumpruns {
   0%   {transform: translateX(-66px);visibility:visible }
   50%   {transform: translateX(0px);visibility:visible }
  100%  {transform: translateX(-66px);visibility:visible }
}

@keyframes trumpjumps {
   0%   {transform: translateY(-5px);visibility:visible }
   50%   {transform: translateY(5px);visibility:visible }
  100%  {transform: translateY(-5px);visibility:visible }
}