#bloc1{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_1_3d.png");
    background-size: 100% 100%;
}

#bloc2{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_2_3d.png");
    background-size: 100% 100%;
}

#bloc3{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_3_3d.png");
    background-size: 100% 100%;
}

#bloc4{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_4_3d.png");
    background-size: 100% 100%;
}

#bloc5{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_5_3d.png");
    background-size: 100% 100%;
}

#bloc6{
    position: absolute;
    top:0px;
    left:0px;
    background-image: url("../pictures/edificis/bloc_rand_6_3d.png");
    background-size: 100% 100%;
}

.finestra {
    position:absolute;
    width: 30px;
    height: 30px;
    border-color: blue;
    background: greenyellow;
    will-change: transform;
}
.terra{
    
    will-change: transform;
}