/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-may-2020, 1:44:45
    Author     : MiPc
*/
body{
    background-color:LightCyan;
    animation-name: celcanvi;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.cel{
    background-color: blue;
}
.nuvol1{
    position:absolute;
    background-color:transparent;
    background-image: url("../pictures/background/nuvol1.png");
    background-size:100%;
    background-repeat: no-repeat;
}
.nuvol2{
    position:absolute;
    background-color:transparent;
    background-image: url("../pictures/background/nuvol2.png");
    background-size:100%;
    background-repeat: no-repeat;
}
.boleta {
    position:absolute;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-color: blue;
    background: greenyellow;
 }
.sol {
    position:absolute;
    left:30px;
    top:10px;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: yellow;
    animation-name: solcanvi1;
    animation-duration: 600s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    will-change: transform;
}
.solbunch {
   width:20%;
   height:20%;
  position:absolute;
  border-radius: 100%;
  animation-name: mousol;
  animation-duration: 600s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  will-change: transform;
}

@keyframes mousol {
   0%   {transform: translateX(500%) }
   30%   {transform: translateX(250%) }
  90%  {transform: translateX(-15%) }
  100%  {transform: translateX(-20%) }
}
@keyframes celcanvi {
   0%   {background-color:LightCyan }
   45%   {background-color:LightCyan }
   48%   {background-color:#f3f7d1 }
   58%   {background-color:#f3f7d1 }
   72%   {background-color:#ffa28b }
   82%   {background-color:#ffa28b }
   86%  {background-color:#3366ff  }
   94%  {background-color:#3366ff  }
  96%   {background-color:#f3f7d1 }
  100%  {background-color:LightCyan  }
}
@keyframes solcanvi1 {
  0%   {background-color:yellow }
  40%  {background-color:yellow }
  50%  {background-color:#f8d153 }
  75%  {background-color:orange }
  86%  {background-color:#d9d9d9 }
  94%  {background-color:#d9d9d9 }
  100%  {background-color:yellow }
}

