/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30-jun-2020, 15:53:27
    Author     : MiPc
*/

#intro {
    position:absolute;
    visibility:visible;
}

#introbuttons {
    position:absolute;
    top:175px;
    visibility: hidden;
    width:1000px;
}

#introtext {
    position:absolute;
    top:-40px;
    width:800px;
    color:brown;
    font-size: 16px;
    font-family: "Comic Sans MS";
}
#gameover{
    position:absolute;
    left:30%;
    top:30%;
    visibility:hidden;
    color:DarkCyan;
    font-family: "Comic Sans MS";
}
#skipinbut {
    position:absolute;
    left:80px;
    top:175px;
}

#control2 {
    visibility:visible;
    position:absolute;
    left: 10px;
    top: 40px;
}