#flag{
    position:absolute;
    visibility:hidden;
}
.stick {
    position:absolute;
    height: 50px;
    width: 3px;
    background-color: chocolate;
    display: inline-block;
}
.banner1 {
    position:absolute;
    left: 3px;
    height: 20px;
    width: 30px;
    background-color: red;
    background-image:url("../pictures/CNTFAI.png");
    background-size:30px;
    visibility:hidden;
    animation-name: oneja;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    will-change: transform;
}
.banner2 {
    position:absolute;
    left: 3px;
    height: 20px;
    width: 30px;
    background-image: url("../pictures/banner_bw.png");
    background-size: 100% 100%;
    visibility:hidden;
    animation-name: oneja;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    will-change: transform;
}

#gayflag{
    position:absolute;
    visibility:hidden;
    background-color: none;
    left:0px;
    top:0px;
}

.banner3 {
    position:absolute;
    left: 3px;
    height: 20px;
    width: 30px;
    background-color: none;
    background-image:url("../pictures/gayflag.jpg");
    background-size:30px;
    background-repeat: no-repeat;
    
    animation-name: oneja;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    will-change: transform;
}



@keyframes oneja {
   0%   {transform: skewY(-6deg) scaleX(0.9) translateX(0px) }

   50%  {transform: skewY(6deg) scaleX(1) translateX(0px)}

  100%  {transform: skewY(-6deg) scaleX(0.9) translateX(0px)}
}