#human1{
    position:absolute;
}
#human2 {
    position:absolute;
    color:white;
}
.leg1 {
  position:absolute;
  top:40px;
  left:10px;
  height: 4px;
  width: 20px;
  background-color: Bisque;
  transform: rotate(-60deg);
  border-radius: 40%;
  display: inline-block;
}
.leg2 {
  position:absolute;
  top:40px;
  left:20px;
  height: 4px;
  width: 20px;
  background-color: Bisque;
  transform: rotate(60deg);
  border-radius: 40%;
  display: inline-block;
}
.arms {
  position:absolute;
  top:20px;
  left:5px;
  height: 5px;
  width: 40px;
  background-color: Bisque;
  border-radius: 40%;
  display: inline-block;
}
.head {
  position:absolute;
  top:0px;
  left:17px;
  height: 15px;
  width: 15px;
  background-color: Bisque;
  border-radius: 40%;
  display: inline-block;
}
.body {
  position:absolute;
  top:10px;
  left:20px;
  height: 30px;
  width: 10px;
  background-color: gray;
  border-radius: 40%;
  display: inline-block;
}
.panxa {
  position:absolute;
  top:10px;
  left:-5px;
  height: 25px;
  width: 20px;
  background-color: gray;
  border-radius: 100%;
  display: inline-block;
}
.papada {
  position:absolute;
  top:-2px;
  left:-1px;
  height: 12px;
  width: 12px;
  background-color: bisque;
  border-radius: 100%;
  display: inline-block;
}
.cara3 {
     position:absolute;
  transform: rotate(90deg);
  left:5px;
}


.leg1m {
  position:absolute;
  top:40px;
  left:10px;
  height: 4px;
  width: 20px;
  background-color: DarkGoldenRod;
  transform: rotate(-60deg);
  border-radius: 40%;
  display: inline-block;
}
.leg2m {
  position:absolute;
  top:40px;
  left:20px;
  height: 4px;
  width: 20px;
  background-color: DarkGoldenRod;
  transform: rotate(60deg);
  border-radius: 40%;
  display: inline-block;
}
.armsm {
  position:absolute;
  top:20px;
  left:5px;
  height: 5px;
  width: 40px;
  background-color: DarkGoldenRod;
  border-radius: 40%;
  display: inline-block;
}
.headm {
  position:absolute;
  top:0px;
  left:17px;
  height: 15px;
  width: 15px;
  background-color: DarkGoldenRod;
  border-radius: 40%;
}
.bodym {
  position:absolute;
  top:10px;
  left:20px;
  height: 30px;
  width: 10px;
  background-color: DarkSeaGreen;
  border-radius: 40%;
}
.peluca {
  position:absolute;
  top:-6px;
  left:13px;
  height: 30px;
  width: 23px;
  background-color: DarkSlateGray;
  border-radius: 45%;
}

/*<div id="human gordo"><span class="leg1"></span><span class="leg2"></span><span class="arms"></span><span class="body"><span class="papada"></span><span class="panxa"></span></span><span class="head"><span class="cara3" id="cara_huma">:|</span></span></div>
<div id="human1"><span class="leg1"></span><span class="leg2"></span><span class="arms"></span><span class="body"></span><span class="head"><span class="cara3" id="cara_huma">:|</span></span></div> */
