#enemic1envelope{
    position: absolute;
    top:0px;
    left:0px;
    background-color:none;
}
#enemic1{
    position: absolute;
    top:0px;
    left:-20px;
    width:140px;
    height:65px;
    background-image: url("../pictures/trump/trumpjet1.png");
    background-size:140px;
    /*transform: rotateY(180deg);*/
    /*animation-name: sideflip;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    will-change: transform;*/
}

@keyframes sideflip {
   0%   {transform: rotateX(0deg) }
   10%  {transform: rotateZ(10deg) }
   30%   {transform: rotateX(40deg) }
   
   50%   {transform: rotateX(0deg) }
   60%  {transform: rotateZ(-10deg) }
   70%   {transform: rotateX(-40deg) }
  100%  {transform: rotateX(0deg) }
}

