/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-sep-2020, 2:00:05
    Author     : MiPc
*/

#llibre{
    position:absolute;
    background-image:url("../pictures/libro_peque.png");
    background-size: 40px;
    background-repeat: no-repeat;
}